m3u8: Document Variant and its fields

The struct docs are just "EXT-X-STREAM-INF 4.3.4.2". Want something with the idiomatic wording, consisting of these 2 bits of info:

1. What it represents e.g. "Variant represents the EXT-X-STREAM-INF tag specified in RFC 8216 section 4.3.4.2"
2. Context in the package and the protocol; a single sentence like "A variant is a ... usually to provide different bitrate ... for players with different bandwidth available".

Important fields like Bitrate need to provide more detail. What is the int? Kilobits per second? Baud rate?! They're all specified in RFC 8216 so just need a short sweet version for our struct.